.logo
{
float:left;
width: 50%;
//padding-left:10px;

//background-color: #D3D3D3;
}

.login
{
float:left;
width: 50%;
text-align:right;
//position:fixed;
//right:11%;

//background-color: #D3D3D3;
}

.signup
{

float:left;
//position:fixed;
//text-align:left;
//right:17%;
width:50%;
//margin-top:100 px;
background-color: #D3D3D3;

}

.pic
{
float:left;
width:50%;

background-color: red;
}
.img
{
width:100 px;
height:100 px;
}

.top
{
height: 20%;
}

.resize
{
    width:350px
}

.signup-lastname,.resize,.dob
{

//position:fixed;
right:16%;
}

.signup-firstname
{
//position:fixed;
//right:29%;
}

.check
{
//position:fixed;
//right:35%;
//text-align:left;
}

input[type=radio ]{
  //position:fixed;
//right:40%;
}

.Signup-submit
{
position:left;
}

body {
    //background-color: #D3D3D3;
}
.bottom
{
height:80%;
//width:40;
}




